.hero-container, .header-container, 
.section-2-title-container, .section-2-cards-container, 
.quote-container, .cta-container, .footer-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}   

.section-2-title-container, .section-2-cards-container, .cta-container {
    background-color: #FFFFFF;
}

.quote-container {
    padding: 50px 0 50px 0;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
}

.cta-container {
    padding: 50px 0 50px 0;
}

.footer {
    color: #E5E7EB;
    text-align: center;
    font-style: italic;
    padding: 20px 0 20px 0px;
}

.cta {
    flex: 1;
    box-sizing: border-box;
    max-width: 1000px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;

}

.cta-text {
    flex: 1;
}

.cta-text > h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.cta-text > p {
    margin-top: 5px;
}

.cta-button > button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 5px 25px 5px 25px;
}

.header, .hero, .section-2-title {
    flex: 0 1 1000px;
}

.section-2-cards {
    max-width: 800px;
    justify-content: space-between;
}

.quote-text, .quote-author {
    flex: 0 1;
    width: 800px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 80px;
    gap: 50px;
}

.header > ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    flex: 1 1 300px;
}

.hero-right {
    flex: none;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin-bottom: 10px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border-width: 0;
    padding: 5px 25px 5px 25px;
}

.section-2-title {
    text-align: center;
}

.section-2-cards {
    display: flex;
    justify-content: space-between;
}

.section-2-title > h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.section-2-cards {
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 80px;
}

.card {
    flex: 0 1 150px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
}

.card > img {
    border: 3px solid blue;
    border-radius: 8px;
    margin-bottom: 10px;
}